html{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgb(205, 255, 216) 0%, rgb(148, 185, 255) 100%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_container{
    height: 80vh;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

#title, #describtion{
    display: flex;
    justify-content: center;
    text-align: center;
}

#start{
    background: linear-gradient(90deg, rgb(205, 255, 216) 0%, rgb(148, 185, 255) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 70px;
    border: none;
    outline: none;
}

h1{
    font-size: 50px;
}
#justifyingbutton{
    text-align: center;
}


#choises1,#choises2,#choises3,#choises4{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 70px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    width: 1000px;
}